@model MyShop.Web.Models.ProductViewModel
@{
    ViewBag.Title = Model.Name;
    ViewBag.Keywords = Model.MetaKeyword;
    ViewBag.Descriptions = Model.MetaDescription;
    Layout = "~/Views/Shared/Layouts.cshtml";
    var urlface = Request.Url.ToString();
}

@section footerJS{
    <script src="~/Assets/client/js/addtocart.js"></script>
}

@section left_menu{
    <div class="panel-group left_menu col-md-3 hidden-xs hidden-sm" id='left_menu'>
        <div class="panel-heading">
            <h4 class="panel-title">
                <i class='icon-line-menu'></i> Menu
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                @{Html.RenderAction("Category", "Home");}
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.left_menu').addClass('left_menu_sticker');
        });
    </script>

    <script>
        $(window).load(function () {
            $('.left_menu').addClass('left_menu_sticker');
        });
    </script>
}

@section title{
    <section id="page-title">
        <div class="container clearfix">
            <h1 class="col-md-6 col-sm-6">@Model.Name</h1>
            <ol class="breadcrumb col-md-6 col-sm-6 hidden-xs">
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/san-pham/@(Model.ProductCategory.Alias).html">@Model.ProductCategory.Name</a></li>
                <li class="active">@Model.Name</li>
            </ol>
        </div>
    </section>
}

<div class="content-wrap">
    <div class="container clearfix">
        <div class="postcontent nobotto<mmargin clearfix col_last">
            <div class='product-page'>
                <div class="single-product">
                    <form method="post" id="ProductDetailsForm" crossorigin="anonymous">
                        <div class="product">
                            <div class="col_half">
                                <div class="product-image product-main-image">
                                    <div class="fslider" data-animation="fade" data-thumbs="true" data-arrows="false">
                                        <div class="flexslider">
                                            <div class="slider-wrap" data-lightbox="gallery">
                                                @{
                                                    var moreImages = (List<string>)ViewBag.MoreImages;
                                                    if (moreImages.Count > 0)
                                                    {
                                                        foreach (var image in moreImages)
                                                        {
                                                            <div class="slide" data-thumb="@image">
                                                                <a href="@image" title="@Model.Name" data-lightbox="gallery-item">
                                                                    <img src="@image" alt="@Model.Name">
                                                                </a>
                                                            </div>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                        @if (Model.PromotionPrice.HasValue)
                                        {
                                            <div class="sale-flash">Sale</div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col_half col_last product-desc">
                                <div class="product-price">
                                    <ins style='margin-right: 5px;'>
                                        @if (Model.PromotionPrice.HasValue)
                                        {
                                            <ins>@Model.PromotionPrice.Value.ToString("N0")₫ </ins>
                                            <del>@Model.Price.ToString("N0")₫</del>
                                        }
                                        else
                                        {
                                            <ins>@Model.Price.ToString("N0")₫ </ins>
                                        }
                                    </ins>
                                </div>
                                <div class="clear"></div>
                                <div class="line"></div>

                                <!-- variants -->
                                <div class="product-page-options ">
                                    <div class="sizePicker" id='option-0'>
                                        <label class="control-label options-title">Kích thước:</label>
                                        <div class='options-selection'>
                                            <select id="product-size" class="form-control input-sm">
                                                @foreach (var size in (IEnumerable<MyShop.Web.Models.SizeViewModel>)ViewBag.Sizes)
                                                {
                                                    <option data_size_code="@size.ID" data_color_code="@size.ID" class="" value="@size.Name">
                                                        @size.Name
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="sizePicker" id='option-0'>
                                        <label class="control-label options-title">Màu sắc:</label>
                                        <div class='options-selection'>
                                            <select id="product-color" class="form-control input-sm">
                                                @foreach (var color in (IEnumerable<MyShop.Web.Models.ColorViewModel>)ViewBag.Colors)
                                                {
                                                    <option data_size_code="@color.ID" data_color_code="@color.ID" class="" value="@color.Name">
                                                        @color.Name
                                                    </option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="quantity product-quantity clearfix col-xs-6 noleftpadding">
                                    <input type="button" value="-" class="minus">
                                    <input type="text" id='product_quantity' readonly step="1" min="1" name="quantity" value="1" title="Số lượng" class="qty" size="4" />
                                    <input type="button" value="+" class="plus">
                                </div>
                                <script>
                                    var quantity = parseInt($('#ProductDetailsForm .product-quantity input.qty').val());
                                    $('#ProductDetailsForm .minus').click(function () {
                                        if (quantity > 0) {
                                            if (quantity == 1) {
                                                $('#addcartDetail').attr('disabled', 'disabled');
                                            }
                                            quantity -= 1;
                                        }
                                        else {
                                            quantity = 0;
                                        }
                                        $('#ProductDetailsForm .product-quantity input.qty').val(quantity);
                                    });
                                    $('#ProductDetailsForm  .plus').click(function () {
                                        $('#addcartDetail').removeAttr('disabled');
                                        if (quantity < 100) {
                                            quantity += 1;
                                        }
                                        else {
                                            quantity = 100;
                                        }
                                        $('#ProductDetailsForm .product-quantity input.qty').val(quantity)
                                    });
                                </script>
                                @if (Model.Quantity.HasValue && Model.Quantity > 0)
                                {
                                    <button type="submit" id="addcartDetail" data-id="@Model.ID" class="btnAddToCart col-xs-6 button nomargin">Thêm vào giỏ</button>
                                    @*<button type="submit" class="button col-xs-12 nopadding">Mua ngay</button>*@
                                    <input type="hidden" id="hidProductID" value="@Model.ID" />
                                }
                                else
                                {
                                    <button type="button" class="add-to-cart button nomargin">Hết hàng</button>
                                }
                                <div class="clear"></div>
                                <div class="line"></div>

                                <p>@Model.Description</p>

                                <div class="panel panel-default product-meta">
                                    <div class="panel-body">
                                        <span class="tagged_as">
                                            Tags:
                                            @foreach (var tag in (IEnumerable<MyShop.Web.Models.TagViewModel>)ViewBag.Tags)
                                            {
                                                <a href="/san-pham/tag/@(tag.ID).html" rel="tag">@(tag.Name), </a>
                                            }
                                        </span>
                                    </div>
                                </div>

                                <div class="si-share noborder clearfix">
                                    <span>Chia sẻ:</span>
                                    <div class='socical-wrapper'>
                                        <div class="fb-like" data-href="@urlface" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col_full nobottommargin">
                                <div class="tabs clearfix nobottommargin hidden-xs" id="tab-1">
                                    <ul class="tab-nav clearfix">
                                        <li><a href="#tabs-1"><i class="icon-align-justify2"></i><span class="hidden-xs"> Mô tả</span></a></li>
                                        <li class=''><a href="#tabs-2"><i class="icon-info-sign"></i><span class="hidden-xs"> Bình luận</span></a></li>
                                    </ul>
                                    <div class="tab-container">
                                        <div class="tab-content clearfix" id="tabs-1">
                                            @Html.Raw(Model.Content)
                                        </div>
                                        <div class="tab-content clearfix" id="tabs-2">
                                            <div class="fb-comments" data-href="@urlface" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
                                            <!-- script comment fb -->
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-group hidden-lg hidden-sm hidden-md" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style='width: 100%; display: block;'>
                                                    <i class="icon-align-justify2"></i><span class=""> Mô tả</span>
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                            <div class="panel-body">
                                                @Html.Raw(Model.Content)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading " id="headingTwo">
                                            <h4 class="panel-title">
                                                <a style='width: 100%; display:block;' class="collapsed" data-toggle="collapse" href="#collapseTwo">
                                                    <i class="icon-info-sign"></i><span class=""> Bình luận</span>
                                                </a>
                                            </h4>
                                        </div>
                                        <!--facebook-->
                                        <div id="collapseTwo" class="panel-collapse collapse in " role="tabpanel">
                                            <div class="panel-body">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clear"></div><div class="line"></div>
            <!-- related products -->
            <div class="col_full nobottommargin" id='product-related-products'>
                <h4>Sản phẩm cùng nhóm</h4>
                <div id="oc-product" class="owl-carousel product-carousel">
                    @foreach (var product in (IEnumerable<MyShop.Web.Models.ProductViewModel>)ViewBag.Related)
                    {
                        var url = "/san-pham/" + product.ProductCategory.Alias + "/" + product.Alias + "-" + product.ID + ".html";
                        <div class="oc-item">
                            <div class="product iproduct clearfix">
                                <div class="product-image">
                                    <a href="@url"><img src="@product.Image" alt="@product.Name"></a>
                                    <a href="@url"><img src="@product.Image2" alt="@product.Name"></a>
                                </div>
                                <div class="product-desc center">
                                    <div class="product-title"><h3><a href="@url">@product.Name</a></h3></div>
                                    <div class="product-price">
                                        <ins>@product.Price.ToString("N0")₫</ins>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <script type="text/javascript">
                    jQuery(document).ready(function ($) {
                        var ocProduct = $("#oc-product");
                        ocProduct.owlCarousel({
                            margin: 30,
                            nav: true,
                            navText: ['<i class="icon-angle-left"></i>', '<i class="icon-angle-right"></i>'],
                            autoplayHoverPause: true,
                            dots: false,
                            responsive: {
                                0: { items: 1 },
                                600: { items: 2 },
                                1000: { items: 4 }
                            }
                        });
                    });

                </script>
            </div>
        </div>
        <!-- Sidebar -->
        <div class="sidebar nobottommargin left-sidebar hidden-xs hidden-sm">
            <div class="sidebar-widgets-wrap">
                <!-- categories -->
                <div class="widget widget_links clearfix">
                    <h4>Danh mục</h4>
                    @{Html.RenderAction("ProductCategory", "Product");}
                </div>

                <!-- On Sale product -->
                <div class="widget clearfix">
                    <h4><a href="/san-pham/onsale/">Sản phẩm khuyến mãi</a></h4>
                    @{Html.RenderAction("TopOnSale", "Product");}
                </div>

                <!-- most popular -->
                <div class="widget clearfix">
                    <h4><a href='/san-pham/viewcount/'>Sản phẩm được xem nhiều</a></h4>
                    @{Html.RenderAction("PopularProduct", "Product");}
                </div>

                <!-- Facebook -->
                <div class="widget clearfix" style='overflow:hidden'>
                    <h4>Facebook</h4>
                </div>
            </div>
        </div>
    </div>
</div>