@model MyShop.Web.Models.HomeViewModel
@{
    ViewBag.Title = ViewBag.Title;
    ViewBag.Keywords = ViewBag.Keywords;
    ViewBag.Descriptions = ViewBag.Descriptions;
    Layout = "~/Views/Shared/Layouts.cshtml";
}

@section left_menu{
    <script>
        $(window).load(function () {
            var isScrolledIntoView = function (elem) {
                var $elem = $(elem);
                var $window = $(window);
                var docViewTop = $window.scrollTop();
                var docViewBottom = docViewTop + $window.height();
                var elemTop = $elem.offset().top;
                var elemBottom = elemTop + $elem.height();
                return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
            }
            $(this).scroll(function () {
                var height = $(window).scrollTop();
                if (height >= 200) {
                    $('.left_menu').addClass('left_menu_sticker');
                }
                else {
                    $('.left_menu').removeClass('left_menu_sticker');
                }
                $('.left_menu').toggle(!isScrolledIntoView('#footer'));
            });
        });
    </script>
}

@section title{
    <div class='container slide_wrapper' style='margin-top: 25px;'>
        <div class="panel-group left_menu col-md-3 hidden-xs hidden-sm" id='left_menu'>
            <div class="panel-heading">
                <h4 class="panel-title">
                    <i class='icon-line-menu'></i> Menu
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    @{Html.RenderAction("Category", "Home");}
                </div>
            </div>
        </div>
        <section id="slider" class="slider-parallax revslider-wrap ohidden clearfix hidden-xs col-md-9 col-md-push-3">
            <div class="tp-banner-container">
                <div class="tp-banner">
                    <ul>
                        <!-- Slide  -->
                        @foreach (var slide in Model.Slides)
                        {
                        <li data-transition="random" data-slotamount="7" data-link="@slide.Url" data-title="@slide.Name">
                            <img src="@slide.Image">
                        </li>
                        }
                    </ul>
                </div>
            </div>

            <script type="text/javascript">
                jQuery(document).ready(function () {
                    jQuery('.tp-banner').show().revolution(
                    {
                        dottedOverlay: "none",
                        delay: 5000,
                        startwidth: 1140,
                        startheight: 500,
                        hideThumbs: 200,
                        thumbWidth: 100,
                        thumbHeight: 50,
                        thumbAmount: 5,
                        lazyLoad: "on",
                        navigationType: "none",
                        navigationArrows: "solo",
                        navigationStyle: "preview2",
                        touchenabled: "on",
                        onHoverStop: "on",
                        swipe_velocity: 0.7,
                        swipe_min_touches: 1,
                        swipe_max_touches: 1,
                        drag_block_vertical: false,
                        parallax: "mouse",
                        parallaxBgFreeze: "on",
                        parallaxLevels: [7, 4, 3, 2, 5, 4, 3, 2, 1, 0],
                        keyboardNavigation: "off",
                        navigationHAlign: "center",
                        navigationVAlign: "bottom",
                        navigationHOffset: 0,
                        navigationVOffset: 20,
                        soloArrowLeftHalign: "left",
                        soloArrowLeftValign: "center",
                        soloArrowLeftHOffset: 20,
                        soloArrowLeftVOffset: 0,
                        soloArrowRightHalign: "right",
                        soloArrowRightValign: "center",
                        soloArrowRightHOffset: 20,
                        soloArrowRightVOffset: 0,
                        shadow: 0,
                        fullWidth: "on",
                        fullScreen: "off",
                        spinner: "spinner4",
                        stopLoop: "off",
                        stopAfterLoops: -1,
                        stopAtSlide: -1,
                        shuffle: "off",
                        autoHeight: "off",
                        forceFullWidth: "off",
                        hideThumbsOnMobile: "off",
                        hideNavDelayOnMobile: 1500,
                        hideBulletsOnMobile: "off",
                        hideArrowsOnMobile: "off",
                        hideThumbsUnderResolution: 0,
                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        startWithSlide: 0,
                        fullScreenOffsetContainer: ".header"
                    });
                });
            </script>
        </section>
    </div>
}

<div class="content-wrap">
    <div class="container clearfix">
        <!-- banner -->
        @foreach (var banner in Model.Banners)
        {
            <div class="col-md-4 noleftpadding banner-img bottom-margin">
                <a class='banner-link' href="@banner.Url" target='_blank' data-animate="fadeInLeft">
                    <div class='banner-content-wrapper'>
                        @Html.Raw(banner.Content)
                    </div>
                    <img src="@banner.Image" alt="@banner.Name">
                </a>
            </div>
        }
        <div class="clear"></div>
        <!-- end banner -->
        <div class="clear"></div>
        <!--product item-->
        <div class="index_group_product tabs topmargin-lg clearfix hidden-xs" id="tab-3">
            <ul class="tab-nav clearfix">
                <li><a href="#tabs-9"><i class='icon-thumbs-up'></i><span> HÀNG MỚI VỀ</span></a></li>
                <li><a href="#tabs-10"><i class='icon-trophy'></i><span> HÀNG BÁN CHẠY</span></a></li>
                <li><a href="#tabs-11"><i class='icon-group'></i><span> KHUYẾN MÃI</span></a></li>
            </ul>
            <div class="tab-container">
                <div class="tab-content clearfix index_group" id="tabs-9">
                    <div id="shop" class="clearfix">
                        @if (Model.LastestProducts.Count() > 0)
                        {
                            foreach (var product in Model.LastestProducts)
                            {
                                var url = "/san-pham/" + product.ProductCategory.Alias + "/" + product.Alias + "-" + product.ID + ".html";
                                <div class="product col-lg-3 clearfix">
                                    <div class="product-image">
                                        <a href="@url"><img src="@product.Image" alt="@product.Name"></a>
                                        <a href="@url"><img src="@product.Image2" alt="@product.Name"></a>
                                        @if (product.PromotionPrice.HasValue)
                                        {
                                            <div class="sale-flash">Sale</div>
                                        }                                       
                                    </div>
                                    <div class="product-desc">
                                        <div class="product-title"><h3><a href="@url">@product.Name</a></h3></div>
                                        <div class="product-price">
                                            @if (product.PromotionPrice.HasValue)
                                            {
                                                <ins>@product.PromotionPrice.Value.ToString("N0")₫ </ins>
                                                <del>@product.Price.ToString("N0")₫</del>
                                            }
                                            else
                                            {
                                                <ins>@product.Price.ToString("N0")₫ </ins>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <p>Không có bản ghi nào được tìm thấy.</p>
                        }
                    </div>
                </div>
                <div class="tab-content clearfix index_group" id="tabs-10">
                    <div id="shop" class="clearfix">
                        @if (Model.HotSaleProducts.Count() > 0)
                        {
                            foreach (var product in Model.HotSaleProducts.Take(4))
                            {
                                var url = "/san-pham/" + product.ProductCategory.Alias + "/" + product.Alias + "-" + product.ID + ".html";
                                <div class="product col-lg-3 clearfix">
                                    <div class="product-image">
                                        <a href="@url"><img src="@product.Image" alt="@product.Name"></a>
                                        <a href="@url"><img src="@product.Image2" alt="@product.Name"></a>
                                        @if (product.PromotionPrice.HasValue)
                                        {
                                            <div class="sale-flash">Sale</div>
                                        }                                       
                                    </div>
                                    <div class="product-desc">
                                        <div class="product-title"><h3><a href="@url">@product.Name</a></h3></div>
                                        <div class="product-price">
                                            @if (product.PromotionPrice.HasValue)
                                            {
                                                <ins>@product.PromotionPrice.Value.ToString("N0")₫ </ins>
                                                <del>@product.Price.ToString("N0")₫</del>
                                            }
                                            else
                                            {
                                                <ins>@product.Price.ToString("N0")₫ </ins>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <p>Không có bản ghi nào được tìm thấy.</p>
                        }
                    </div>
                </div>
                <div class="tab-content clearfix index_group" id="tabs-11">
                    <div id="shop" class="clearfix">
                        @if (Model.SaleProducts.Count() > 0)
                        {
                            foreach (var product in Model.SaleProducts)
                            {
                                var url = "/san-pham/" + product.ProductCategory.Alias + "/" + product.Alias + "-" + product.ID + ".html";
                                <div class="product clearfix col-lg-3">
                                    <div class="product-image">
                                        <a href="@url"><img src="@product.Image" alt="@product.Name"></a>
                                        <a href="@url"><img src="@product.Image2" alt="@product.Name"></a>
                                        <div class="sale-flash">Sale</div>                                       
                                    </div>
                                    <div class="product-desc">
                                        <div class="product-title"><h3><a href="@url">@product.Name</a></h3></div>
                                        <div class="product-price">
                                            <ins>@product.PromotionPrice.Value.ToString("N0")₫</ins>
                                            <del>@product.Price.ToString("N0")₫</del>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <p>Không có bản ghi nào được tìm thấy.</p>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-group hidden-lg hidden-sm hidden-md" id="accordion" style='margin-top: 15px;'>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style='width: 100%; display: block;'>
                            <i class='icon-thumbs-up'></i><span> HÀNG MỚI VỀ</span>
                            <i class='icon-angle-down arrow'></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="tab-content clearfix index_group">
                            <div id="shop" class="clearfix">
                                @if (Model.LastestProducts.Count() > 0)
                                {
                                    foreach (var product in Model.LastestProducts)
                                    {
                                        var url = "/san-pham/" + product.ProductCategory.Alias + "/" + product.Alias + "-" + product.ID + ".html";
                                        <div class="product col-lg-3 clearfix">
                                            <div class="product-image">
                                                <a href="@url"><img src="@product.Image" alt="@product.Name"></a>
                                                <a href="@url"><img src="@product.Image2" alt="@product.Name"></a>
                                                @if (product.PromotionPrice.HasValue)
                                                {
                                                    <div class="sale-flash">Sale</div>
                                                }                                               
                                            </div>
                                            <div class="product-desc">
                                                <div class="product-title"><h3><a href="@url">@product.Name</a></h3></div>
                                                <div class="product-price">
                                                    @if (product.PromotionPrice.HasValue)
                                                    {
                                                        <ins>@product.PromotionPrice.Value.ToString("N0")₫ </ins>
                                                        <del>@product.Price.ToString("N0")₫</del>
                                                    }
                                                    else
                                                    {
                                                        <ins>@product.Price.ToString("N0")₫ </ins>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <p>Không có bản ghi nào được tìm thấy.</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" id="headingTwo">
                    <h4 class="panel-title">
                        <a style='width: 100%; display:block;' class="collapsed" data-toggle="collapse" href="#collapseTwo">
                            <i class='icon-trophy'></i><span> HÀNG BÁN CHẠY</span>
                            <i class='icon-angle-down arrow'></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                        <div class="tab-content clearfix index_group">
                            <div id="shop" class="clearfix">
                                @if (Model.HotSaleProducts.Count() > 0)
                                {
                                    foreach (var product in Model.HotSaleProducts)
                                    {
                                        var url = "/san-pham/" + product.ProductCategory.Alias + "/" + product.Alias + "-" + product.ID + ".html";
                                        <div class="product col-lg-3 clearfix">
                                            <div class="product-image">
                                                <a href="@url"><img src="@product.Image" alt="@product.Name"></a>
                                                <a href="@url"><img src="@product.Image2" alt="@product.Name"></a>
                                                @if (product.PromotionPrice.HasValue)
                                                {
                                                    <div class="sale-flash">Sale</div>
                                                }                                              
                                            </div>
                                            <div class="product-desc">
                                                <div class="product-title"><h3><a href="@url">@product.Name</a></h3></div>
                                                <div class="product-price">
                                                    @if (product.PromotionPrice.HasValue)
                                                    {
                                                        <ins>@product.PromotionPrice.Value.ToString("N0")₫ </ins>
                                                        <del>@product.Price.ToString("N0")₫</del>
                                                    }
                                                    else
                                                    {
                                                        <ins>@product.Price.ToString("N0")₫ </ins>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <p>Không có bản ghi nào được tìm thấy.</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" id="headingThree">
                    <h4 class="panel-title">
                        <a style='width: 100%; display:block;' class="collapsed" data-toggle="collapse" href="#collapseThree">
                            <i class='icon-group'></i><span> KHUYẾN MÃI</span>
                            <i class='icon-angle-down arrow'></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel">
                    <div class="panel-body">
                        <div class="tab-content clearfix index_group">
                            <div id="shop" class="clearfix">
                                @if (Model.SaleProducts.Count() > 0)
                                {
                                    foreach (var product in Model.SaleProducts)
                                    {
                                        var url = "/san-pham/" + product.ProductCategory.Alias + "/" + product.Alias + "-" + product.ID + ".html";
                                        <div class="product clearfix col-lg-3">
                                            <div class="product-image">
                                                <a href="@url"><img src="@product.Image" alt="@product.Name"></a>
                                                <a href="@url"><img src="@product.Image2" alt="@product.Name"></a>
                                                <div class="sale-flash">Sale</div>                                               
                                            </div>
                                            <div class="product-desc">
                                                <div class="product-title"><h3><a href="@url">@product.Name</a></h3></div>
                                                <div class="product-price">
                                                    <ins>@product.PromotionPrice.Value.ToString("N0")₫</ins>
                                                    <del>@product.Price.ToString("N0")₫</del>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <p>Không có bản ghi nào được tìm thấy.</p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="clear bottommargin-sm"></div>
        <div class="clear bottommargin-sm"></div>
        <div class='fancy-title title-border'>
            <h3>
                Sản phẩm bán chạy
            </h3>
        </div>
        <div id='best_seller' class='best_seller'>
            <div class='col-md-12 best_seller_left'>
                <div class='product_wrapper'>
                    @if (Model.HotSaleProducts.Count() > 0)
                    {
                        foreach (var product in Model.HotSaleProducts)
                        {
                            var url = "/san-pham/" + product.ProductCategory.Alias + "/" + product.Alias + "-" + product.ID + ".html";
                            <div class='col-md-3 col-sm-6 best_seller_product'>
                                <!--product one-->
                                <div class="product clearfix">
                                    <div class="product-image">
                                        <a href="@url"><img src="@product.Image" alt="@product.Name"></a>
                                        <a href="@url"><img src="@product.Image2" alt="@product.Name"></a>
                                        @if (product.PromotionPrice.HasValue)
                                        {
                                            <div class="sale-flash">Sale</div>
                                        }                                       
                                    </div>
                                    <div class="product-desc center">
                                        <div class="product-title"><h3><a href="@url">@product.Name</a></h3></div>
                                        <div class="product-price">
                                            @if (product.PromotionPrice.HasValue)
                                            {
                                                <ins>@product.PromotionPrice.Value.ToString("N0")₫ </ins>
                                                <del>@product.Price.ToString("N0")₫</del>
                                            }
                                            else
                                            {
                                                <ins>@product.Price.ToString("N0")₫ </ins>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <p>Không có bản ghi nào được tìm thấy.</p>
                    }

                </div>
            </div>
        </div>

        <div class="clear bottommargin-sm"></div>
        <div class="clear bottommargin-sm"></div>
        <div class='fancy-title title-border hot_product_title'>
            <h3>
                Sản phẩm đang hot
            </h3>
        </div>

        <div id='hot_product' class="owl-carousel image-carousel hot_product">
            @if (Model.HotProducts.Count() > 0)
            {
                foreach (var product in Model.HotProducts)
                {
                    var url = "/san-pham/" + product.ProductCategory.Alias + "/" + product.Alias + "-" + product.ID + ".html";
                    <div class="product clearfix">
                        <div class="product-image">
                            <a href="@url"><img src="@product.Image" alt="@product.Name"></a>
                            <a href="@url"><img src="@product.Image2" alt="@product.Name"></a>
                            @if (product.PromotionPrice.HasValue)
                            {
                                <div class="sale-flash">Sale</div>
                            }                           
                        </div>
                        <div class="product-desc center">
                            <div class="product-title"><h3><a href="@url">@product.Name</a></h3></div>
                            <div class="product-price">
                                @if (product.PromotionPrice.HasValue)
                                {
                                    <ins>@product.PromotionPrice.Value.ToString("N0")₫ </ins>
                                    <del>@product.Price.ToString("N0")₫</del>
                                }
                                else
                                {
                                    <ins>@product.Price.ToString("N0")₫ </ins>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>Không có bản ghi nào được tìm thấy.</p>
            }
        </div>

        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                var ocClients = $("#hot_product");
                ocClients.owlCarousel({
                    items: 6,
                    margin: 0,
                    loop: true,
                    nav: true,
                    navText: ['<i class="icon-angle-left"></i>', '<i class="icon-angle-right"></i>'],
                    autoplay: true,
                    dots: false,
                    autoplayHoverPause: true,
                    responsive: {
                        0: { items: 2 },
                        480: { items: 2 },
                        768: { items: 2 },
                        992: { items: 4 },
                        1200: { items: 6 }
                    }
                });

            });
        </script>
        <div class="clear bottommargin-sm"></div>
        <div class="clear bottommargin-sm"></div>     
    </div>   
</div>